<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GemBox.Spreadsheet" version="41.3.30.1147" targetFramework="net462" />
  <package id="Google.Apis" version="1.32.0" targetFramework="net462" />
  <package id="Google.Apis.Auth" version="1.32.0" targetFramework="net462" />
  <package id="Google.Apis.Core" version="1.32.0" targetFramework="net462" />
  <package id="Google.Apis.Oauth2.v2" version="1.32.0.1103" targetFramework="net462" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net462" />
  <package id="JSON" version="1.0.1" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net462" />
  <package id="Microsoft.Bcl.Async" version="1.0.166-beta" targetFramework="net462" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net462" />
  <package id="System.Json" version="4.0.20126.16343" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" requireReinstallation="True" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" requireReinstallation="True" />
</packages>